<html>
<head>
    <title>Flask-SSE Quickstart</title>
</head>
<body>
<h1>Flask-SSE Quickstart</h1>
<script>
    const source = new EventSource("{{ url_for('sse.stream') }}");

    source.addEventListener('open', function (e) {
        // Connection was opened.
    }, false);

    source.addEventListener('greeting', function (event) {
        const data = JSON.parse(event.data);
        alert("The server says " + data.message)
    }, false);

    source.addEventListener('error', function (e) {
        if (e.readyState === EventSource.CLOSED) {
             alert("Closed");
        }
    }, false);

</script>
</body>
</html>